
.post-content figure.align-center {
    text-align: center;
}


.cn_left {
    float: left;
    margin: ($regular-margin)/4 $regular-margin 0.75*$regular-margin 0;
}

.cn_right {
    float: right;
    margin: ($regular-margin)/4 0 0.75*$regular-margin $regular-margin;
}


.cn_fig-20 {
    width: 20%;
}

.cn_fig-25 {
    width: 25%;
}

.cn_fig-33 {
    width: 33.3%;
}

.cn_fig-50 {
    width: 50%;
}

.cn_social_card {
    width: 60%;
}

.cn_fig-75 {
    width: 75%;
}

.cn_fig-100 {
    width: 100%;
}
// Change cn_fig sizes on mobile

@media #{$mobile-and-down} {

    .cn_left {
            display: block;
            float: none;
            margin: $regular-margin auto;
        }
    
    .cn_right {
            display: block;
            float: none;
            margin: $regular-margin auto;
        }
    
    .cn_fig-20 {
            width: 50%;
        }
    
    .cn_fig-25 {
            width: 50%;
        }
    
    .cn_fig-33 {
            width: 66%;
        }
    
    .cn_fig-50 {
            width: 75%;
        }
    
    .cn_social_card {
            width: 100%;
        }

    .cn_fig-75 {
            width: 95%;
        }
    
    .cn_fig-100 {
            width: calc(100% + 2*1.2em);
            margin-left: -$regular-padding;
            margin-right: -$regular-padding;
            img {
                border-radius: 0;
            }
            figcaption {
                padding: 0 $regular-padding/2;
            }
        }


 
    }
    
    