.nav-arrow {
    width: 1.25em;
    height: 1.25em;
    }

.menu-icon {
    width: 1.5em;
    height: 1.5em;
    }

.content-icon {
    display: inline-block;
    width: 1.15em;
    height: 1.15em; 
    vertical-align: -0.25em;
    }

.big-content-icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em; 
    vertical-align: -0.3em;
    }