
ul.post-tags, ul.terms-tags
    {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    }

.post-tags li, .terms-tags li 
    {
    text-decoration: none;
    color:  map-get($colors, 'cn-coral');
    padding: 0;
    }


.post-tags a, .terms-tags a 
    {
    border: 1px solid map-get($colors, 'cn-coral');
    border-radius: $border-radius-default;
    font-size: $small-text;
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: $regular-padding/3 $regular-padding;
    transition: transform 0.1s;
    }

.post-tags a:hover, .terms-tags a:hover
    {
    color: map-get($colors, 'cn-bright-teal');
    border: 1px solid darken(map-get($colors, 'cn-bright-teal'), 16);
    border-radius: $border-radius-default;
    text-decoration: none;
    }


.terms-tags a:active, .post-tags a:active 
    {
    transform: scale(0.96);
    }
