{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
<hr>
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="navarrowleft">
        <svg aria-hidden="true" class="nav-arrow"> 
           <use href="{{ "icons.svg" |absURL }}#arrow-left"></use>
        </svg>
        <span>&nbsp;NEXT POST</span>
    </span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="navarrowright">
      <span>PREVIOUS POST&nbsp;</span>
      <svg aria-hidden="true" class="nav-arrow"> 
        <use href="{{ "icons.svg" |absURL }}#arrow-right"></use>
      </svg>
    </span>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
