.archive-posts {
    max-width: 100%;
//    font-size: $regular-text;
}

.archive-year:first-of-type {
    border-top: 1px solid map-get($colors, 'light-grey');
}
.archive-year{
    border-bottom: 1px solid map-get($colors, 'light-grey');;
}

.archive-year-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    font-size: $large-text;
    padding: 0.1em 0.3em;
    color: map-get($colors, 'dark-grey');
} 

.archive-year-header:hover, .archive-year-header:active {
    background-color: map-get($colors, 'cn-pale-cream');

} 

.archive-arrow {
    width: 1em;
    height: 1em;
    transition: transform 0.2s ease-in-out;
}

.archive-year.hidden .archive-arrow {
    transform: rotate(-90deg);
}


.archive-month {
    transition: max-height 0.5s;
	overflow: hidden;
	&[aria-hidden="true"] {
		max-height: 0;
	}
	&[aria-hidden="false"] {
		max-height: var(--containerHeight, 1000px);
	}
}


.archive-entry {
  position: relative;
  margin: 10px 0;
}

.archive-count,
.archive-meta {
    color: map-get($colors, 'mid-grey');
    font-size: $small-text;
}

// adding custom marker (will not be needed when safari supports content for ::marker class)
ul.archive-posts li::before {
    content: '';
    background-image: url('caret-right-solid.svg');
    background-repeat: no-repeat;
    height: 1.1em;
    width: 1.1em;
    position: absolute;
    margin: 0.35em 0 0 -1.6em;
}