.header {
    position: fixed;
    width: 100%;
    background-color: map-get($colors, 'cn-dark-teal opacity 0.96');
    z-index: 1;
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    top: 0;
    border-bottom: 1px solid darken(map-get($colors, 'cn-dark-teal'), 15);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $nav-width;
    min-height: 2*$regular-margin;
    margin-inline-start: auto;
    margin-inline-end: auto;
    align-items: center;    
}

.nav {
    a, a:hover, a:active {
    color: map-get($colors, 'cn-pale-cream');
    text-decoration: none;
    }
}

// left-hand part of nav bar

.logo {
    display: flex;
    margin: 0;
    padding: 0 $regular-padding;
    flex-wrap: inherit;
}

.logo a {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-weight: 700;
}

// right-hand part of nav bar


#menu {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        word-break: keep-all;
        white-space: nowrap;
}

#menu a {
    display: block;
    font-size: $regular-text;
    padding: $regular-padding/3 $regular-padding;
    position: relative;
}

#menu li {
    position: relative;
}

#menu li::after {
    content: "";
    position: absolute;
    background-color: map-get($colors, 'cn-light-coral');
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 100%;
    left: calc(50% - 0.35rem);
    bottom: -13px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}
    
#menu li:hover::after {
    opacity: 1.0;
    transition: opacity 0.2s ease-in;
}

#menu .menu-item-logo {
        margin-right: 0.3rem;
}


@media #{$tablet-and-down} {

#menu {
    display: none;
}

#menu.is-active {
    padding: 0;
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: $regular-padding;
    background-color: map-get($colors, 'cn-dark-teal');
    border: 1px solid darken(map-get($colors, 'cn-dark-teal'), 15);
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.6);
    border-radius: $border-radius-default;
}

#menu a {
    font-size: $regular-text;
    padding: $regular-padding/3 $regular-padding;
}

#menu li::after {
    display: none;
}

}


//only display hamburger on mobile
@media #{$laptop-and-up} {

    #header-hamburger {
        display: none;
    }

}


// not used

// #theme-toggle svg {
//     height: 18px;
// }
// 
// button#theme-toggle {
//     font-size: 26px;
//     margin: auto 4px;
// }
// 
// body.dark #moon {
//     vertical-align: middle;
//     display: none;
// }
// 
// body:not(.dark) #sun {
//     display: none;
// }



// not used

// .lang-switch li,
// .lang-switch ul,
// .logo-switches {
//     display: inline-flex;
//     margin: auto 4px;
// }
// 
// .lang-switch {
//     display: flex;
//     flex-wrap: inherit;
// }
// 
// .lang-switch a {
//     margin: auto 3px;
//     font-size: 16px;
//     font-weight: 500;
// }
// 
// .logo-switches {
//     flex-wrap: inherit;
// }
