.header {
    position: fixed;
    width: 100%;
    background-color: map-get($colors, 'cn-dark-teal');
    opacity: 97%;
    z-index: 1;
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.6);
    top: 0;
    border-bottom: 1px solid darken(map-get($colors, 'cn-dark-teal'), 15);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    min-height: 2*$regular-margin;
    margin-inline-start: auto;
    margin-inline-end: auto;
    align-items: center;    
}

.nav {
    a, a:hover, a:active {
    color: map-get($colors, 'cn-pale-cream');
    text-decoration: none;
    }
}

// left-hand part of nav bar

.logo {
    display: flex;
    margin: auto var(--gap);
    padding: 0;
    flex-wrap: inherit;
}

.logo a {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-weight: 700;
}

// right-hand part of nav bar


#menu {
        margin: auto var(--gap);
        padding: 0;
        display: flex;
        list-style: none;
        word-break: keep-all;
        overflow-x: auto;
        white-space: nowrap;
}
    
    
#menu a {
        display: block;
        font-size: $regular-text;
        padding: $regular-padding/3 $regular-padding;
}
    
#menu .menu-item-logo {
        margin-right: 0.3rem;
}



@media #{$tablet-and-down} {

#menu {
    display: none;
}

#menu.is-active {
    padding: 0;
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0px;
    background-color: map-get($colors, 'cn-dark-teal');
    border: 1px solid darken(map-get($colors, 'cn-dark-teal'), 15);
    box-shadow: 0 3px 10px 0px rgba(0,0,0,0.6);
    border-radius: $border-radius-default;
}

#menu a {
    font-size: $regular-text;
    padding: $regular-padding/3 $regular-padding;
}

}


//only display hamburger on mobile
@media #{$laptop-and-up} {

    #header-hamburger {
        display: none;
    }

}


// not used

// #theme-toggle svg {
//     height: 18px;
// }
// 
// button#theme-toggle {
//     font-size: 26px;
//     margin: auto 4px;
// }
// 
// body.dark #moon {
//     vertical-align: middle;
//     display: none;
// }
// 
// body:not(.dark) #sun {
//     display: none;
// }



// not used

// .lang-switch li,
// .lang-switch ul,
// .logo-switches {
//     display: inline-flex;
//     margin: auto 4px;
// }
// 
// .lang-switch {
//     display: flex;
//     flex-wrap: inherit;
// }
// 
// .lang-switch a {
//     margin: auto 3px;
//     font-size: 16px;
//     font-weight: 500;
// }
// 
// .logo-switches {
//     flex-wrap: inherit;
// }
