#searchbox input {
    padding: 4px 10px;
    width: 100%;
    color: map-get($colors, 'dark-grey');
    font-weight: bold;
    border: 2px solid map-get($colors, 'light-grey');
    border-radius: $border-radius-default;
}

#searchbox input:focus {
    border-color: var(--secondary);
}

#searchResults li {
    list-style: none;
    border-radius: $border-radius-default;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    font-weight: 500;
}

#searchResults {
    padding: 0;
    margin: 10px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    transform: scale(0.98);
    border: 2px solid var(--tertiary);
}
